{embed='includes/_doc-header'}
<body class="page page-id-2 page-template-default et_fixed_nav et_pb_pagebuilder_layout et_right_sidebar chrome et_includes_sidebar" style="padding-top: 80px;">
    {embed='includes/_navigation'}
    <div id="main-content">
        <article id="post-48" class="post-48 page type-page status-publish hentry">
            <div class="entry-content">
                <div class="et_pb_section et_pb_inner_shadow et_pb_fullwidth_section beige_header">
                    <section class="et_pb_fullwidth_header et_pb_text_align_center">
                        <div class="et_pb_row">
                            <h1>{var_error_heading}</h1>
                        </div>
                    </section>
                </div> <!-- .et_pb_section -->
            <div class="et_pb_section">
            <div class="et_pb_row">
            <div class="et_pb_column et_pb_column_1_4">
            <div class="et_pb_text et_pb_bg_layout_light et_pb_text_align_left">
            <p>
                {var_error_content}
                <br>
                <br>
            	<a class="call_to_action" href="/">Visit Home Page</a>
            </p>
        </div> <!-- .et_pb_text -->

        </div> <!-- .et_pb_row -->
        </div>
        </div> <!-- .entry-content -->
    </article> <!-- .et_pb_post -->

</div>
</div> <!-- .container -->
</div>
{embed='includes/_footer'}

