{embed='includes/_doc-header'}
<body id="body-landing" class="home_page page page-id-2 page-template-default et_fixed_nav et_pb_pagebuilder_layout et_right_sidebar chrome et_includes_sidebar" style="padding-top: 80px;">
<header id="landing-header" class="">
        
        <div class="container clearfix">
            <a href="/">
                <img src="/assets/images/smart_cleanse_logo_big.png" alt="Smart Cleanse" id="logo">
            </a>
            
        </div>
</header>
<div id="main-content">
    <article id="post-2" class="post-2 page type-page status-publish hentry">
        <div class="entry-content">

<div class="et_pb_slide et-pb-active-slide landing-banner" id="slide-1" style="z-index: 1; display: block; opacity: 1; ">
    <div class="et_pb_container clearfix" style="min-height: 631px;">
        <h1>Exclusive FIRST TIME BUYER Offer!</h1>
        <img class="slide_overlay_img" src="/assets/images/landingbanner.png" alt="">
        <div class="et_pb_slide_content">
            <p>Recieve a <span class="orange-text">$20 gift voucher</span> towards<br>your first purchase of SmartCleanse™!</p>

            <div class="box">
                USE PROMO CODE AT CHECKOUT:
                <div class="orange-text">‘SMART2015’</div>
            </div>
           
            <div class="et_pb_text_align_center"><a href="/product/14-day-smart-cleanse" class="button orange">Buy now</a></div>
        </div>
    </div> <!-- .et_pb_container -->
</div>

<div class="et_pb_section landing-intro">
    <div class="et_pb_row">
        <div class="et_pb_column et_pb_column_4_4">
            <div class="content-tongue et_pb_text_align_center">
                <h2>Did the silly season shrink your clothes?<br>Pants feeling a little more snug than usual? <br>Got that bloated and sluggish feeling?</h2>
                <p>Give bloating the boot...and treat your body to the holiday it deserves, with Smart Cleanse™ 14 Day Detox.  It’s a smarter way to lose weight, look good and feel great!</p>
            </div>
        </div> <!-- .et_pb_column -->
        
    </div> <!-- .et_pb_row -->
</div>


<div class="et_pb_section how-why-who  landing-photo-section">
    <div class="et_pb_row how">
        <div class="et_pb_column et_pb_column_1_2 section-pic et_pb_text_align_center">
            <img src="/assets/images/why.png" alt="Introducing Smart Cleanse">
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_2 section-description">
            <h2>Introducing Smart Cleanse.<br>The Premium Natropathic Detox Program.</h2>
            <p>Did you know Smart Cleanse™ is the ONLY premium, organic, practitioner grade detox and weight management program available in Australia and if you order online today - we’ll email you a FREE handy Smart Cleanse™ Detox and Weight Loss Shopping List that will help you  stay on track and make shopping for your detox EASY.</p>
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
    <div class="et_pb_row why alternate">
        <div class="et_pb_column et_pb_column_1_2 section-pic et_pb_text_align_center">
            <img src="/assets/images/amanda.png" alt="Amanda T">
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_2 section-description et_pb_text_align_center">
            <h2>“3 days in I was 3kgs down.<br>By day 5 headaches were a distant memory, muffin top is disappearing and I feel absolutely AMAZING! </h2>
            <p>Amanda T - Executive Manager Diageo</p>
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->

</div> <!-- .et_pb_section -->
            
<div class="et_pb_section  tongue-scraper">
    <div class="et_pb_row">
        <div class="img-decoration">
            <img src="/assets/images/tongue.png" id="tongue">
        </div>
        <div class="et_pb_column et_pb_column_4_4">
            <div class="content-tongue">
                <h2>PLUS - GET A FREE TONGUE SCRAPER!</h2>
                <p>Plus you’ll also get a FREE stainless steel tongue scraper.<br>Used in Ayurvedic treatments, it assists in removing toxic coating often found on the surface of your tongue, helping to keep your breath fresh.</p>
            </div>
        </div> <!-- .et_pb_column -->
        
    </div> <!-- .et_pb_row -->
</div>


<div class="et_pb_section homepage-testimonials">
    <div class="et_pb_row et_pb_text_align_center">
        <div class="et_pb_column et_pb_column_4_4">
            <h2>Testimonials</h2>
        </div>
    </div>
    <div class="testimonials-wrap  et_pb_slider_no_pagination et_pb_bg_layout_light">
          
            <div class="et_pb_slides et_pb_row"> 
                             

                                  
                             
                <div class="single-testimonial et_pb_slide" style="z-index: 2; ">
                    <div class="et_pb_column et_pb_column_1_2 section-pic ">
                        <img src="https://smartcleanse.com.au/assets/images/steve_sydney.png" alt="">
                    </div> <!-- .et_pb_column -->
                    <div class="et_pb_column et_pb_column_1_2 section-description">
                        <p>“After just 7 days on Smart Cleanse™, I lost 5kg, which felt effortless. My energy levels went through&nbsp;the roof also. In week 2, I felt like I was buzzing with energy, my cravings for alcohol, caffeine &amp; sugar, disappeared. I really felt on top of the world. I’ve lost a total of 8 kilos &amp; feel confident that I know how to&nbsp;keep it off.” </p>
                        <p class="et_pb_testimonial_author">Steve - Tradesman</p>
                    </div> <!-- .et_pb_column -->
                </div>

            </div>
            <div class="et_pb_slides et_pb_row">                  
                                                                  
                             
                <div class="single-testimonial et_pb_slide" style=" z-index: 1;">
                    <div class="et_pb_column et_pb_column_1_2 section-pic ">
                        <img src="https://smartcleanse.com.au/assets/images/testimonial_dana.png" alt="">
                    </div> <!-- .et_pb_column -->
                    <div class="et_pb_column et_pb_column_1_2 section-description">
                        <p>“Before Smart Cleanse™ I had struggled with bouts of cystic acne for over 10 years. I tried contraceptive&nbsp;pills, harmful retinols, prescriptions, and even laser surgery procedures with no luck. My libido was low,&nbsp;and I felt emotionally unstable, with bouts of anxiety coming about for what seemed like no logical reason.&nbsp;After 14 Days on Smart Cleanse™ my symptoms began to diminish, and not long after my face cleared up!&nbsp;I was able to look in the mirror with confidence again and regained my sense of inner peace and balance.&nbsp;I felt like 'me' again! Thank you, Smart Cleanse™ for facilitating my transformation to a happier, healthier, holistic&nbsp;me!” </p>
                        <p class="et_pb_testimonial_author">Dana - Yoga Teacher</p>
                    </div> <!-- .et_pb_column -->
                </div>
                                  
            </div>
        

    </div>
</div>

<div class="et_pb_section  redeem-code">
    <div class="et_pb_row">
        <div class="et_pb_column et_pb_column_4_4 et_pb_text_align_center">
            <p>GET A $20 GIFT VOUCHER OFF YOUR 1ST ORDER!</p>
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
    <div class="et_pb_row">
        <div class="et_pb_column et_pb_column_4_4 et_pb_text_align_center">
            <p><span>REDEEM CODE:</span> ‘SMART2015’</p>
        </div> <!-- .et_pb_column -->
    </div>

    <div class="et_pb_row">
        <div class="et_pb_column et_pb_column_4_4">
            <p class="et_pb_text_align_center"><a href="/product/14-day-smart-cleanse" class="button orange">Buy now</a></p>
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
</div>
            {snippet_newsletter}



        </div> <!-- .entry-content -->
    </article> <!-- .et_pb_post -->
</div> <!-- #main-content -->
{embed='includes/_footer'}
