<div class="et_pb_section intro">
    <div class="et_pb_row et_pb_text_align_center">
        <div class="et_pb_column et_pb_column_1_2 section-pic-2 ">
            <img src="/assets/images/14_day_smart_cleanse.png" alt="Introducing Smart Cleanse">
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_2">
            <div class="et_pb_text et_pb_bg_layout_light et_pb_text_align_left ">
                <h2>When you're stressed and busy Smart Cleanse is ideal for:</h2>
                    <div class="et_pb_section product_intro_2">
                        <ul>
                            <li>Weight loss </li>
                            <li>Looking your best </li>
                            <li>Endurance, energy and performance </li>
                            <li>Alkalising your body </li>
                            <li>Improving self-esteem and confidence </li>
                        </ul>
                    </div>   
            </div>        
        </div>
    </div> <!-- .et_pb_row -->
</div>