<div class="et_pb_section smart-cleanse-creator">
    <div class="et_pb_row et_pb_text_align_center">
        <div class="et_pb_column et_pb_column_1_3 section-pic">
            <img src="/assets/images/desiree.png" alt="Savannah Daisley">
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_2_3 section-description">
            <h2>Smart Cleanse Manager</h2>
            <p>Desiree Roberts is General Manager of Smart Cleanse. Her main focus is on empowering individuals to reclaim their health and wellbeing. Through the Smart Cleanse 14 day detox program, complimented by advanced coaching and mentoring, Desiree aims to help people achieve their full potential. Desiree has dedicated her life and work to the study and practice of health, vitality and wellbeing. She combines knowledge of health and fitness with her passion for assisting people to create happy and balanced lives.</p>
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
</div> <!-- .et_pb_section -->


