<div class="et_pb_section how-why-who">
    <div class="et_pb_row how">
        <div class="et_pb_column et_pb_column_1_2 section-pic et_pb_text_align_center">
            <img src="/assets/images/how.png" alt="How Smart Cleanse Works">
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_2 section-description">
            <h2>How Smart Cleanse Works</h2>
            <p>Using organic ingredients with the naturopathic principle of Weed, Seed and Feed, Smart Cleanse supports your wellbeing by focusing on your digestive system first, before cleansing your liver.</p>
            <p><a href="/product/14-day-smart-cleanse" class="button black">Read More</a></p>
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
    <div class="et_pb_row why alternate">
        <div class="et_pb_column et_pb_column_1_2 section-pic et_pb_text_align_center">
            <img src="/assets/images/why.png" alt="Why Use Smart Cleanse">
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_2 section-description">
            <h2>Why Use Smart Cleanse?</h2>
            <p>Smart Cleanse assists in the safe and efficient removal of toxins that are absorbed through environmental exposure and metabolic processes. Detoxifying them from your body maximises your energy and optimises your overall health and wellbeing.</p>
            <p><a href="/so-what-exactly-is-detoxification" class="button black">Read More</a></p>
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
    <div class="et_pb_row who">
        <div class="et_pb_column et_pb_column_1_2 section-pic et_pb_text_align_center">
            <img src="/assets/images/who.png" alt="Who Should Use Smart Cleanse">
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_2 section-description">
            <h2>Who Should Use Smart Cleanse?</h2>
            <p>Smart Cleanse is the perfect solution for those who want an effective, organic product that won’t cause conflicts with their busy lifestyle. Using a simple-to-follow program, containing everything you need straight out of the box, to safely and successfully detoxify, without disrupting your daily routine.</p>
            <p><a href="/testimonials" class="button black">Read More</a></p>
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
</div> <!-- .et_pb_section -->


