<div class="et_pb_section et_pb_fullwidth_section slider_faq">
    <div class="et_pb_slider et_pb_bg_layout_light" id="sliderv2">
        <div class="et_pb_slides">
            
            <!-- #slide-0 -->
            <div class="et_pb_slide" id="slide-0" style="">
                <div class="et_pb_container clearfix">
                    <div class="et_pb_slide_content">
                      <img class="slide_overlay_img" src="/assets/images/14days.png" alt="">
                       
                       <div class="et_pb_text_align_center"><a href="/product/14-day-smart-cleanse" class="button">Buy now</a></div>
                    </div>
                </div> <!-- .et_pb_container -->
            </div> <!-- .et_pb_slide -->

            
        </div> <!-- .et_pb_slides -->    
    </div> <!-- .et_pb_slider -->
</div> <!-- .et_pb_section -->