<div class="et_pb_section see">
    <div class="et_pb_row et_pb_text_align_center">
        <div class="et_pb_column et_pb_column_1_2 section-pic ">
            <div class="homepage-slider-video">
                <iframe src="//fast.wistia.net/embed/iframe/v961bkwwx8?videoFoam=true" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="475" height="295"></iframe><script src="//fast.wistia.net/assets/external/iframe-api-v1.js"></script>
            </div>
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_2 section-description">
            <h2>See What Smart Cleanse Can Do For You</h2>
            <p>A brief introduction to 14 Day Smart Cleanse: A Practitioner Grade, Premium, Naturopathic, Organic, Great Tasting, Detox and Weight Management Program.</p>
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
</div>