<div id="FreeDiary_PopUp" style="display:none">
{exp:cartthrob:add_to_cart_form
    entry_id="11"
    quantity="1"
    return="cart"
}
    <input type="image" src="{site_url}assets/images/FreeDiary_PopUp.png" value="Add to cart" style="padding: 0 !important;display: block !important; min-width:250px!important; width: 100% !important;">
{/exp:cartthrob:add_to_cart_form}

</div>
<style>
    #FreeDiary_PopUp .parsley-errors-list{display: none !important;}
    div.fancybox-wrap.fancybox-mobile.fancybox-type-inline.fancybox-opened{z-index: 999999;}
</style>
