<div class="et_pb_section smart-cleanse-creator">
    <div class="et_pb_row et_pb_text_align_center">
        <div class="et_pb_column et_pb_column_1_3 section-pic">
            <img src="/assets/images/creator.png" alt="Savannah Daisley">
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_2_3 section-description">
            <h2>Smart Cleanse Creator</h2>
            <p>Smart Cleanse is the creation of Savannah Daisley, Founder and Director of Research and Development with an extensive background in the wellness industry. Savannah has helped thousands of people detoxify their bodies, lose weight, eliminate stress, and reverse the ageing process through the benefits of detoxification.</p>
            <p><a href="/savannah-daisley-smart-cleanse" class="button white">Read More</a></p>
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
</div> <!-- .et_pb_section -->


