
<div class="et_pb_section newsletter_signup blog">
    <div class="clearfix">
        <div class="et_pb_column et_pb_column_4_4">
            <div class=" form-wrap ">
                <div class="et_pb_promo_description">
                    <h2>Sign up here for the latest tips, health news, inspiration and GIVEAWAYS…. It’s FREE!</h2>
                </div>
                <form action="//smartcleanse.us8.list-manage.com/subscribe/post?u=23f7ee2103e88213874d8160c&amp;id=3ebc01249b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                    <script type="text/javascript">function trackSubscribers(){
                        var dataLayer=[];
                        dataLayer.push({'eventCategory':'Button', 'eventAction':'click', 'eventLabel':'subscribe','event': 'GA Event'});
                    }
                    </script>
                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_23f7ee2103e88213874d8160c_3ebc01249b" tabindex="-1" value=""></div>
                    <div class="mc-field-group" style="display: none !important;">
                        <input type="text" value="false - blog" name="MMERGE3" class="required" id="mce-MMERGE3">
                    </div>
                    
                    <div class="clearfix">
                        <input type="text" value="" placeholder="Enter First Name" name="FNAME" class="fname required" id="mce-FNAME">
                        <input type="text" value=""  placeholder="Enter Last Name" name="LNAME" class="lname required" id="mce-LNAME">
                    </div>
                    <div class="clearfix emailwrap">
                        <input type="email" value="" placeholder="Enter Email Address" name="EMAIL" class="required email" id="mce-EMAIL">
                        <input type="submit" value="Yes Please!" name="subscribe" id="mc-embedded-subscribe" class="button green" onclick="trackSubscribers()">
                    </div>
                    <div id="mce-responses" class="clear">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                </form>

            </div>
        </div> <!-- .et_pb_column -->
        <div class="blog-share-section">
            <div class="pulse" onclick="this.style.display = 'none'; document.getElementById('share-it').style.display = 'block';">Click to share</div>
            <div id="share-it" style="display: none;">
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_native_toolbox"></div>
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5490cd0c140d3179" async="async"></script>
            </div>

        </div>
    </div> <!-- .et_pb_row -->
</div> <!-- .et_pb_section -->


