<div class="et_pb_section intro">
    <div class="et_pb_row et_pb_text_align_center">
        <div class="et_pb_column et_pb_column_1_2 section-pic ">
            <img src="/assets/images/intro.png" alt="Introducing Smart Cleanse">
        </div> <!-- .et_pb_column -->
        <div class="et_pb_column et_pb_column_1_2 section-description">
            <h2>Introducing Smart Cleanse<br />The Premium Naturopathic Detox Program</h2>
            <p>Unlike other detoxification programs, Smart Cleanse is great tasting, high quality, potent, contains certified organic ingredients, and has been developed using a researched naturopathic and scientific foundation.</p>
            <p>This vitally important process occurs over 14 days using a simple-to-follow program, containing everything you need straight out of the box, to safely and successfully detoxify, without disrupting your daily routine.</p>
            <p><a href="/product/14-day-smart-cleanse" class="button ">Read More</a></p>
        </div> <!-- .et_pb_column -->
    </div> <!-- .et_pb_row -->
</div>