<div class="et_pb_section et_pb_fullwidth_section">
    <div class="et_pb_slider et_pb_bg_layout_light" id="sliderv2">
        <div class="et_pb_slides">
            
            <!-- #slide-0 -->
            <div class="et_pb_slide" id="slide-0" style="">
                <div class="et_pb_container clearfix">
                    <div class="et_pb_slide_content">
                      <img class="slide_overlay_img" src="/assets/images/14days.png" alt="">
                       
                       <div class="et_pb_text_align_center"><a href="/product/14-day-smart-cleanse" class="button">Buy now</a></div>
                    </div>
                </div> <!-- .et_pb_container -->
            </div> <!-- .et_pb_slide -->
            <!-- #slide-1 -->
            <div class="et_pb_slide" id="slide-1" style="background-color: #eeeae9; background-image: url(assets/images/sliderbg.jpg); ">
                <div class="et_pb_container clearfix">
                    <img class="slide_overlay_img" src="/assets/images/step1-image2.png" alt="">
                    <div class="et_pb_slide_content">
                       <img src="/assets/images/step1.png" alt="Step 1 Weed">
                       <p>Supports the gastrointestinal system with:</p>
                       <ul>
                           <li>fibre to aid elimination</li>
                           <li>herbs to eliminate intestinal parasites</li>
                       </ul>
                        <div class="et_pb_text_align_center"><a href="/product/14-day-smart-cleanse" class="button">Read More</a></div>
                    </div>
                </div> <!-- .et_pb_container -->
            </div> <!-- .et_pb_slide -->
            <!-- #slide-2 -->
            <div class="et_pb_slide" id="slide-2" style="background-color: #eeeae9; background-image: url(assets/images/sliderbg.jpg); ">
                <div class="et_pb_container clearfix">
                    <img class="slide_overlay_img" src="/assets/images/step2-image2.png" alt="">
                    <div class="et_pb_slide_content">
                       <img src="/assets/images/step2.png" alt="Step 2 Seed">
                       <p>Gut Lining Formula that:</p>
                       <ul>
                           <li>seeds in good bacteria</li>
                           <li>supports mucous membrane structure and function</li>
                       </ul>
                        <div class="et_pb_text_align_center"><a href="/product/14-day-smart-cleanse" class="button">Read More</a></div>
                    </div>
                </div> <!-- .et_pb_container -->
            </div> <!-- .et_pb_slide -->
            <!-- #slide-3 -->
            <div class="et_pb_slide" id="slide-3" style="background-color: #eeeae9; background-image: url(assets/images/sliderbg.jpg); ">
                <div class="et_pb_container clearfix">
                    <img class="slide_overlay_img" src="/assets/images/step3-image2.png" alt="">
                    <div class="et_pb_slide_content">
                       <img src="/assets/images/step3.png" alt="Step 3 Seed">
                       <p>Supports liver and adrenal function to:</p>
                       <ul>
                           <li>aid the body’s detoxification processes</li>
                           <li>aid vitality</li>
                           <li>support liver cell health</li>
                       </ul>
                        <div class="et_pb_text_align_center"><a href="/product/14-day-smart-cleanse" class="button">Read More</a></div>
                    </div>
                </div> <!-- .et_pb_container -->
            </div> <!-- .et_pb_slide -->
            
        </div> <!-- .et_pb_slides -->    
    </div> <!-- .et_pb_slider -->
</div> <!-- .et_pb_section -->